*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 500vh;
}
a{
    text-decoration: none;
}

    /* NavBar */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: rgb(239, 184, 184);
    color: maroon;
    padding-bottom: 30px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
nav ul li{
    list-style: none;
}
h1{
    text-align: center;
    color: maroon;
    padding-top: 20x;
    padding bottom: 20px;
}
p{
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}
.container{
    padding-top: 20px;
    border-right: 3px solid black;
    width: 300px;
}
.form{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 400px;
}
.card p{
    text-align: center;
}
.footer{   
    padding-top: 40px;

}
h1{
    text-align: center;
    color: rgb(96, 6, 6);
}
.foot-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: rgb(240, 170, 182);
    padding-bottom: 30px;
    color: rgb(78, 9, 9);
    font-style: bold;
    border-right: 10px;
}
.foot-card li{
    list-style: none;
}
h5{
    color: rgb(122, 8, 8);
    text-align: center;
}